body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  /* font-weight: 700; */
}
li,
a,
span,
p {
  font-style: 400;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
button,
input {
  background-color: transparent;
  border: none;
}

input:focus,
textarea:focus {
  border: 1px solid #de8430 !important;
  outline: none;
}
button {
  color: white;
  background-color: #de8430;
  font-weight: bold;
  font-size: 16px;
  padding: 11px 15px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: #aa6524;
}
input,
textarea,
select {
  color: #5b5551;
  padding: 15px;
  resize: none;
  font-size: 14px;
  background: transparent;
  border: 1px solid #e1e1e1;
  flex: 1;
  border-radius: 8px;
}
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
textarea {
  min-height: 100px;
}
label,
legend {
  color: #5b5551;
  font-size: 14px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 11px;
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e3e3e3;
}
*::-webkit-scrollbar-thumb:active {
  background: #ff6600;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 53px;
}
*::-webkit-scrollbar-track:hover {
  background: #eff0f5;
}
*::-webkit-scrollbar-track:active {
  background: #e3e3e3;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
